{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
{% endblock %}

{% block main %}
    <div class="row">
       <div class="col-sm-12">
            <div class="main_wrap">
                <h1>CRUDチュートリアル</h1>
                <p>投稿を行なってください</p>
               {% if message.error is defined %}★コントローラーで入力値判定した結果を表示します。
                <p class="text-danger">{{ message.error }}</p>
               {% elseif message.success is defined %}
                <p class="text-success">{{ message.success }}</p>
               {% else %}
                <p class="text-success">{{ message.default }}</p>
               {% endif %}
            </div>
           <div id="form-wrapper"> ★サブミット出来るようにフォーム定義を追記します
               <form name="bbs-top-form" method="post" action="{{ url('tutorial_crud') }}">
               {{ form_widget(forms._token) }}
               {{ form_widget(forms) }}
               </form>
           </div>
        </div>
    </div>
{% endblock %}
