{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
{% endblock %}

{% block main %}
    <style type="text/css">
        .tutorial-table {
            padding :100px 0 0 0;
        }
        .tutorial-td {
            border-right :1px dotted #aaaaaa;
        }
        .tutorial-box-top {
            border-top :1px dotted #aaaaaa;
        }
    </style>
    <div class="row">
       <div class="col-sm-12">
            <div class="main_wrap">
                <h1>CRUDチュートリアル</h1>
                <p>投稿を行なってください</p>
            </div>
           <div>
               {% for message in app.session.getFlashBag.get('eccube.front.success') %}
                   <p class="text-success"><bold>{{ message }}</bold></p>
               {% endfor %}
               {% for message in app.session.getFlashBag.get('eccube.front.error') %}
                   <p class="text-danger"><bold>{{ message }}</bold></p>
               {% endfor %}
           </div>
           <div id="form-wrapper">
               <form name="bbs-top-form" method="post" action="{{ url('tutorial_crud') }}">
                   {{ form_widget(forms._token) }}
                   {{ form_widget(forms) }}
               </form>
           </div>
           {% set count = crudList | length %}
           {% if count > 0 %}
           <div class="row tutorial-table ">
                <div class="col-md-12">
                    <div class="box tutorial-box-top">
                        <div class="box-header">
                            <h3 class="box-title"><span class="tutorial-table-caption">登録されいる情報は&nbsp;&nbsp;<strong>{{ count }}</strong>&nbsp;&nbsp;件です</span></h3>
                        </div>
                        <div class="box-body no-padding">
                            <div class="item_list">
                                <div class="tableish">
                                    <div class="item_box tr tutorial-tr">
                                        <div class="th tutorial-td">投稿者ID</div>
                                        <div class="th tutorial-td">投稿種別</div>
                                        <div class="th tutorial-td">投稿者名</div>
                                        <div class="th tutorial-td">タイトル</div>
                                        <div class="th tutorial-td">投稿内容</div>
                                        <div class="th tutorial-td">編集</div>
                                        <div class="th tutorial-td">削除</div> ★テーブル見出し項目に「削除」を追記します。
                                    </div>
                                    {% for Crud in crudList %}
                                    <div class="item_box tr tutorial-tr">
                                        <div class="td tutorial-td">{{ Crud.id }}</div>
                                        <div class="td tutorial-td">{{ Crud.reason }}</div>
                                        <div class="td tutorial-td">{{ Crud.name }}</div>
                                        <div class="td tutorial-td">{{ Crud.title }}</div>
                                        <div class="td tutorial-td">{{ Crud.notes | nl2br }}</div>
                                        <div class="td tutorial-td"><a class="btn btn-default btn-block btn-sm" href="{{ url('tutorial_crud_edit', {'id' : Crud.id}) }}">
                                            編集
                                            </a></div>
                                        <div class="td tutorial-td">
                                            <a class="btn btn-default btn-block btn-sm" href="{{ url('tutorial_crud_delete', {'id' : Crud.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="この情報を削除してもよろしいですか？">削除</a>
                                        </div> ★削除ボタンを追記します。
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
           {% endif %}
        </div>
    </div>
{% endblock %}
